:root {
  --header-bg: #0a0909 !important;
  --sidebar-bg: #131212 !important;
  --sidebar-border:#070707 !important;
  /* If you want to add static accent colours, uncomment this */
  /* --primary-accent: #eb1664 !important; */
  /* --secondary-accent:#ff79aa !important; */
  --primary-accent: var(--arc-palette-cutoutColor) !important;
  --secondary-accent: var(--arc-palette-foregroundSecondary) !important;
  --editor-toolbar-bg: #111011 !important;
  --file-outline-bg: #111111 !important;
  --hover-bg: #3a3a3a !important;
  --ol-blue: var(--arc-palette-cutoutColor) !important;
}
.entity-name:hover, entity-name-react:hover {
  background-color: var(--hover-bg) !important;
}
.toolbar .btn-full-height:hover {
  background-color: var(--hover-bg) !important;
}

/* Sets the colours for each component */
.file-tree:not(.multi-selected) ul.file-tree-list li.selected>.entity>.entity-name {
    background-color: var(--secondary-accent) !important;
}
.file-tree:not(.multi-selected) ul.file-tree-list li.selected>.entity>.entity-name:before {
    background-color: var(--secondary-accent) !important;
}

.file-tree .toolbar.toolbar-filetree {
    background-color: var(--sidebar-bg) !important;
}

.outline-item-link:hover {
  background-color: var(--sidebar-bg) !important;
}

.history-compare-mode-toolbar, .history-toolbar {
  background-color: var(--header-bg) !important;
}

.history-file-tree-inner {
  background-color: var(--sidebar-bg) !important;
}

.toolbar {
  border-bottom: var(--sidebar-bg) !important;
}

.toolbar-editor {
  background-color: var(--sidebar-bg) !important;
}

.toolbar-header {
  background-color: var(--header-bg) !important;
}

.toggle-switch-input:checked+.toggle-switch-label {
  background-color: var(--secondary-accent) !important;
}

.btn-primary {
  background-color: var(--secondary-accent) !important;
}

.project-name .name {
  color: var(--secondary-accent) !important;
}

.formatting-buttons-wrapper {
  color: var(--sidebar-bg) !important;
}

.formatting-btn {
  display: none !important;
}

.ui-layout-resizer {
  background-color: var(--sidebar-border);
}

.custom-toggler:hover {
  background-color: var(--secondary-accent) !important;
}
.documentation-btn-container {
  background-color: var(--header-bg) !important;
}

.pdf .toolbar.toolbar-pdf {
  background-color: var(--sidebar-bg) !important;
}

.file-tree {
  background-color: var(--sidebar-bg) !important;
}
.outline-container {
  background-color: var(--sidebar-bg) !important;
}

.outline-body, .ui-layout-resizer {
  background-color: var(--file-outline-bg) !important;
}

.outline-header {
    background-color: var(--editor-toolbar-bg) !important;
    border-bottom: 1px solid var(--editor-toolbar-bg) !important;
    border-top: 1px solid var(--editor-toolbar-bg) !important;
    display: flex;
    flex-shrink: 0;
    height: 32px;
}

/* Home page */
.project-list-react .project-list-sidebar-wrapper-react {
  background-color: var(--sidebar-bg) !important;
}

.navbar-default {
  background-color: var(--header-bg) !important;
}

td a {
  color: var(--primary-accent) !important;
}

.btn-link {
  color: var(--primary-accent) !important;
}

.toolbar .btn-full-height.active,.toolbar .btn-full-height:active {
  background-color: var(--secondary-accent) !important;
}

.history-file-entity-link-selected {
  background: var(--secondary-accent) !important;
}

.history-file-entity-link-selected:before {
  background: var(--secondary-accent) !important;
}

.history-file-entity-link-selected:focus,.history-file-entity-link-selected:hover {
  background: var(--secondary-accent) !important;
}

.history-file-entity-link-selected:focus:before,.history-file-entity-link-selected:hover:before {
  background: var(--secondary-accent) !important;
}
.history-entry-selected .history-entry-details,.history-version-with-label-selected {
  background-color: var(--secondary-accent) !important;
}
.history-entry-hover-selected .history-entry-details,.history-entry-hover-selected.history-entry-selected .history-entry-details,.history-version-with-label-hover-selected,.history-version-with-label-hover-selected.history-entry-selected {
  background-color: var(--secondary-accent) !important;
}

.history-toolbar-btn, .alert-info {
  background-color: var(--primary-accent) !important;
}
.history-label-comment {
  color: var(--primary-accent) !important;
}
.history-toolbar-btn-danger {
  background-color: var(--secondary-accent) !important;
}



.project-list-react ul.project-list-filters>li.active>button {
  background-color: var(--primary-accent) !important;
}

.custom-toggler {
  background-color: var(--primary-accent) !important;
}

.vertical-resizable-resizer {
  background-color: var(--editor-toolbar-bg) !important;
}

.outline-item-expand-collapse-btn {
  background-color: var(--editor-toolbar-bg) !important;
}

.outline-item-link-highlight {
   background-color: var(--editor-toolbar-bg) !important;
}

.outline-header-expand-collapse-btn:hover {
  background-color: var(--editor-toolbar-bg) !important;
}
